@media screen and (min-width:1440px) and (max-width: 1920px) {

}

@media screen and (min-width:1025px) and (max-width: 1439px) {

}

@media screen and (min-width:769px) and (max-width:1024px)  {
  .header__nav, .header__auth-wrapper, .header__simplebar {
    display: none;
  }

  .header__burger {
    --burger-width: 36px;
    --burger-height: 28px;
    --burger-line-height: 3px;
    position: relative;
    display: flex;
    z-index: 10;
    width: var(--burger-width);
    height: var(--burger-height);
    color: var(--color-white);
    background-color: transparent;
    order: -1;
  }

  .header__mainpanel {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .header__logo {
    margin-right: 0;
    width: 187.6px;
  }

  .header__mainpanel--mini {
    padding: 30px 25px 23px 49px;
  }

  .header__burger::before, .header__burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    top: calc(100% - var(--burger-line-height));
    width: 67%;
  }

  .header__burger-line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 79%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
  }

  /*поиск*/
  .header__burger-search-btn {
    display: block;
    background-color: transparent;
  }

  .header__burger-search-wrap {
    position: absolute;
    top: 30%;
    right: 5.5%;
    align-items: flex-end;
    z-index: 10;
    display: flex;
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    visibility: hidden;
    transform: translateX(50%) scaleX(0);;
  }

  .header__burger-search-form {
    display: flex;
    margin-right: 24px;
  }

  .header__burger-search-form-input {
    border: 0;
    outline: 0;
    border-bottom: 1px solid var(--color-white);
    background-color: transparent;
    color: var(--color-white);
    font-size: 20px;
  }

  .header__burger-search-form-close{
    border: none;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
  }

  .hero__title {
    margin: 0;
    padding: 105px 0 0 0;
  }
  .hero__text {
    padding: 0;
    margin: -10px 0 133px 0;
    max-width: 78%;
  }

  .hero__btn {
    margin-bottom: 115px;

  }

  .hero-1 {
    background-image: url("../img/banner-1-1024.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero-2 {
    background-image: url("../img/banner-2-1024.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero-3 {
    background-image: url("../img/banner-3-1024.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .about__text {
    width: calc(100% + 10px);
    padding-bottom: 70px;
  }

  /*.gallery__container {*/
  /*  max-width: calc(924 / 924 * 100%);*/
  /*}*/

  .gallery__content {
    max-width: calc(924 / 924 * 100%);
    padding: 81px 0 120px 0;
  }
  .gallery__filter {
    width: calc(280 / 924 * 100%);
  }

  .choices {
    margin-bottom: 115px;
  }

  .gallery__works {
    padding-top: 25px;
    width: calc(594 / 924 * 100%);
    margin-right: 0;
  }

  .catalog__wrapper, .catalog__accordion {
    /*width: calc((462 - 12) / 924 * 100%);*/
    width: 49%;
  }
  .catalog__accordion {
    /*width: calc((462 - 12) / 924 * 100%);*/
    width: 49%;
    /*padding-left: 50px;*/
  }
  .catalog__text {
    font-size: 15px;
  }
  .accordion__inner-list {
    width: 100%;
    column-count: 2;
  }

  .accordion__question {
    /*width: calc(100% - 34px);*/
  }

  .events__card-content {
    padding: 21px 28px 43px 33px;
  }

  .events__card-inner {
    align-items: flex-end;
    margin: 0;
  }

  .events__card-text {
    margin: 0 0 25px 0;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .events__swiper-pagination {
    display: inline-block;
  }


  .swiper-pagination {
    position: absolute;
    bottom: -39px;
    width: auto !important;
    left: auto !important;
    margin: 0;
  }
  .swiper-pagination-bullet {
    padding: 5px 10px;
    border-radius: 0;
    width: auto;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color:#000;
    opacity: 1;
    background: rgba(0,0,0,0.2);
  }
  .swiper-pagination-bullet-active {
    color:#fff;
    background: #007aff;
  }
  /*.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {*/
  /*  bottom: -49px;*/
  /*}*/
  /*.swiper-horizontal>.swiper-pagination-bullets {*/
  /*  bottom: -49px;*/
  /*}*/
  /*.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {*/
  /*  margin: 0 9px;*/
  /*}*/
  /*.swiper-pagination-bullet-active {*/
  /*  background-color: var(--color-dove-gray);*/
  /*}*/
}

@media (max-width: 768px) {

}

@media (max-width: 320px) {

}
