@media screen and (min-width:1440px) and (max-width: 1920px) {

}

@media screen and (min-width:1025px) and (max-width: 1439px) {

}

@media screen and (min-width:769px) and (max-width:1024px)  {
  .header__simplebar {
    display: none;
  }

  .header__burger {
    --burger-width: 36px;
    --burger-height: 28px;
    --burger-line-height: 3px;
    position: relative;
    display: flex;
    z-index: 10;
    width: var(--burger-width);
    height: var(--burger-height);
    color: var(--color-white);
    background-color: transparent;
    order: -1;
    cursor: pointer;
  }

  .header__mainpanel {
    display: flex;
    align-items: center;
    background-color: var(--color-black);
  }

  .header__logo {
    margin-right: 0;
    width: 188px;
  }

  .header__mainpanel--mini {
    padding: 30px 25px 23px 49px;
  }

  .header__wrap-menu-mini {
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
  }


  .header__burger::before, .header__burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    top: calc(100% - var(--burger-line-height));
    width: 67%;
  }

  .header__burger-line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 79%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
  }

  .header__burger--active::before {
    top: 50%;
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    width: 100%;
  }

  .header__burger--active::after {
    top: 50%;
    transform: rotate(-45deg);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    width: 100%;
  }

  .header__burger--active .header__burger-line {
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
  }

  .header__burger:focus::after {
    opacity: 1;
  }


  .header__wrap-menu  {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 100px 0 80px 48px;
    z-index: 8;
    overflow-y: auto;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    transform: translate(-101%, 0px);
    transition: tranform 0.6s ease-in-out;
  }
  .header__nav_burger {
    width: 100%;
    margin: 0;
    margin-bottom: 182px;
  }




  /*.header__nav_burger, .header__burger-search-btn {*/
  /*  display: block;*/
  /*}*/

  /*.header__nav_burger--active::before {*/
  /*  top: 50%;*/
  /*  transform: rotate(45deg);*/
  /*  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;*/
  /*  width: 100%;*/
  /*}*/

  /*.header__nav_burger--active::after {*/
  /*  top: 50%;*/
  /*  transform: rotate(-45deg);*/
  /*  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;*/
  /*  width: 100%;*/
  /*}*/

  /*.header__nav_burger--active .header__burger-line {*/
  /*  transform: scale(0);*/
  /*  transition: transform 0.3s ease-in-out;*/
  /*}*/

  /*.header__nav_burger:focus::after {*/
  /*  opacity: 1;*/
  /*}*/













  .header__nav-mini {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  .nav__item:not(:last-child) {
    margin: 0 0 25px 0;
  }

  .header__auth-wrapper-mini {
    margin: auto 0 0;
  }

  .header__wrap-menu--visible {
    transform: translate(0px, 0px);
  }


  .header__auth {
    display: inline-block;
    padding: 20px 60px;
    border-radius: 40px;
    border: 2px solid #9D5CD0;
    font-size: 18px;
    line-height: 25px;
    color: var(--color-white);
  }

  .header__auth-wrap {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    transition-property: margin-left, padding-left;
    transition-duration: .3s;
  }

  .header__auth .header__auth-link-arrow {
    fill: var(--color-white);
  }

  .header__auth-link-arrow {
    margin-left: -4px;
  }

  .header__auth:hover .header__auth-wrap {
    margin-left: -4px;
    padding-left: 4px;
    backgraund: #9D5CD0;
  }

  /*.header__auth:focus:not(:hover):not(:active)::after .header__auth-wrap {*/
  /*  position: absolute;*/
  /*  top: -5px;*/
  /*  left: -10px;*/
  /*  right: -15px;*/
  /*  bottom: -15px;*/
  /*  height: calc(100% + 10px);*/
  /*  width: calc(100% + 20px);*/
  /*  border: none;*/
  /*  outline: none;*/
  /*  content: "";*/
  /*  background: var(--color-amethyst);*/
  /*  color: var(--color-white);*/
  /*  fill: var(--color-white);*/
  /*  transition: background-color .3s ease-in-out, color .3s ease-in-out;*/
  /*}*/















  /*поиск*/
  .header__burger-search-btn {
    display: block;
    background-color: transparent;
    cursor: pointer;
  }


  .search--open {
    visibility: visible;
    transform: none;
    display: flex;
    opacity: 1;
  }

  .btn--hidden {
    visibility: hidden;
    /*display: none;*/
    opacity: 0;
  }

  .header__burger-search-form {
    position: absolute;
    top: 30%;
    right: 1%;
    margin-right: 24px;
    align-items: flex-end;
    z-index: 10;
    /*transform: translateX(50%) scaleX(0);*/
    /*transition:  transform 0.3s ease-in-out;*/
    animation-name: search-open;
    animation-duration: .3s;
  }
  .header__burger-search-form-btn {
    cursor: pointer;
    background: transparent;
  }

  .header__burger-search-form-input {
    border: 0;
    outline: none;
    border-bottom: 1px solid var(--color-white);
    background-color: transparent;
    color: var(--color-white);
    font-size: 20px;
  }

  .header__burger-search-form-close {
    border: none;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
  }

  .header__burger-search-form.search--open {
    display: flex;
    /*transform: translateX(50%) scaleX(0);*/
  }
  .header__burger-search-form.is-closed {
    animation-name: search-close;
    animation-duration: .3s;
  }

  @keyframes search-open {
    from {
      transform: translateY(-50%) scaleX(0);
      /*opacity: 0;*/
    }
    to {
      transform: translateY(-50%) scaleX(1);
      /*opacity: 1;*/
    }
  }

  @keyframes search-close {
    from {
      transform: translateY(-50%) scaleX(1);
      /*opacity: 1;*/
    }
    to {
      transform: translateY(-50%) scaleX(0);
      /*opacity: 0;*/
    }
  }

  .hero__title {
    margin: 0;
    padding: 105px 0 0 0;
  }
  .hero__text {
    padding: 0;
    margin: -10px 0 133px 0;
    max-width: 78%;
  }

  .hero__btn {
    margin-bottom: 115px;

  }

  .hero-1 {
    background-image: url("../img/banner-1-1024.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero-2 {
    background-image: url("../img/banner-2-1024.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero-3 {
    background-image: url("../img/banner-3-1024.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .about__text {
    width: calc(100% + 10px);
    padding-bottom: 70px;
  }

  /*.gallery__container {*/
  /*  max-width: calc(924 / 924 * 100%);*/
  /*}*/

  .gallery__content {
    max-width: calc(924 / 924 * 100%);
    padding: 81px 0 120px 0;
  }
  .gallery__filter {
    width: calc(280 / 924 * 100%);
  }

  .choices {
    margin-bottom: 115px;
  }

  .gallery__works {
    padding-top: 25px;
    width: calc(594 / 924 * 100%);
    margin-right: 0;
  }

  .catalog__wrapper, .catalog__accordion {
    /*width: calc((462 - 12) / 924 * 100%);*/
    width: 49%;
  }
  .catalog__accordion {
    /*width: calc((462 - 12) / 924 * 100%);*/
    width: 49%;
    /*padding-left: 50px;*/
  }
  .catalog__text {
    font-size: 15px;
  }
  .accordion__inner-list {
    width: 100%;
    column-count: 2;
  }

  .accordion__question {
    /*width: calc(100% - 34px);*/
  }

  .events__card-content {
    padding: 21px 28px 43px 33px;
  }

  .events__card-inner {
    align-items: flex-end;
    margin: 0;
  }

  .events__card-text {
    margin: 0 0 25px 0;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .events__swiper-pagination {
    display: inline-block;
  }


  .swiper-pagination {
    position: absolute;
    bottom: -39px;
    width: auto !important;
    left: auto !important;
    margin: 0;
  }
  .swiper-pagination-bullet {
    padding: 5px 10px;
    border-radius: 0;
    width: auto;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color:#000;
    opacity: 1;
    background: rgba(0,0,0,0.2);
  }
  .swiper-pagination-bullet-active {
    color:#fff;
    background: #007aff;
  }
  /*.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {*/
  /*  bottom: -49px;*/
  /*}*/
  /*.swiper-horizontal>.swiper-pagination-bullets {*/
  /*  bottom: -49px;*/
  /*}*/
  /*.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {*/
  /*  margin: 0 9px;*/
  /*}*/
  /*.swiper-pagination-bullet-active {*/
  /*  background-color: var(--color-dove-gray);*/
  /*}*/















  .contacts__container {
    display: flex;
    align-items: flex-start;
    padding: 27px 0 21px 51px;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .contacts__office-location, .contacts__form {
    margin-bottom: 30px;
  }

}

@media (max-width: 768px) {

}

@media (max-width: 320px) {

}
